<div class="container">
  <h1 class="text-center mb-4">CADEP Guastatoya</h1>
  <div class="row">
    <div class="col-lg-4 col-md-6 mb-4" *ngFor="let paciente of pacientes">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">{{ paciente }}</h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi pretium urna vel ultrices consequat. Aenean congue eros velit, ut faucibus libero vehicula sit amet.</p>
        </div>
      </div>
    </div>
  </div>
</div>
